 <div class="calendar">
    <p class="calendarTitle"> {{ "calendar.workTime" | translate }} </p>
    <p class="calendarTitle2"> {{ "calendar.settings" | translate }} </p>
    <form #userForm="ngForm" (change)="saveUserData(userForm)">
        <div class="weekCalendar">
            <div class="day" *ngFor="let day of sched">
                <mat-slide-toggle [checked]="day.state" color="primary" (change)="toggleChanges(day)">
                    <span class="toggleLabel">{{ 'calendar.week.' + day.day | translate }}</span>
                    
                </mat-slide-toggle>
                <div class="timeCounter" *ngFor="let time of day.times; let i = index;">
                    <div class="time-picker">
                      <div class="time">
                        <label for="startTime{{day.day}}{{i}}"> {{ "calendar.start" | translate }}</label>
                        <select id="startTime{{day.day}}{{i}}" name="startTime" [(ngModel)]="time.startTime">
                            <option *ngFor="let t of times" [value]="t">{{ t }}</option>
                        </select>
                      </div>
                      <span class="dashes"> - - </span>
                      <div class="time">
                        <label for="endTime{{day.day}}{{i}}">{{ "calendar.end" | translate }}</label>
                        <select id="endTime{{day.day}}{{i}}" name="endTime" [(ngModel)]="time.endTime">
                          <option *ngFor="let t of times" [value]="t">{{ t }}</option>
                        </select>
                      </div>
                      <div class="plus" *ngIf="i === 0" (click)="handelPlus(day)"><span>+ </span></div>
                      <div class="plus" *ngIf="i > 0" (click)="handelMinus(day, i)"><span> - </span></div>
                      <div class="copy"><mat-icon>content_copy</mat-icon></div>
                    </div>
                  </div>
            </div>
        </div>
    </form>
</div>