.availabilityForm {
    background-color: rgb(250, 249, 249);
    height: 35vh;
    width: 44vw;
    border-radius: 10px;
    direction: rtl;
}

.availabilityLabel  , .availabilityLabelHead{
    color: #92a1ad;
    font-size: small;
    margin-inline-start: 5%;
    display:inline-block;
  
}
.availabilityLabel{
    margin-bottom: 5px;
}

.availabilityLabelHead{
    margin-top: 20px;
}

.opt1,
.opt2,
.opt3 {
    width: 90%;
    margin: 0 auto;
}

.opt2,
.opt3 {
    display: flex;
    justify-content: space-between;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.availabilityNumberInput {
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    border: 2px solid rgb(224, 225, 227);
    width: 78%;
    background-color: rgb(247, 242, 242);
}

.availabilityNumberInput2 , .inputField{
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(224, 225, 227);
    background-color: rgb(247, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

  .availabilityNumberInput2[type="number"] {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 30px;
  }
.availabilityMonthInput {
    width: 15%;
    padding: 1rem;
    margin-block: 20px;
    border-radius: 10px 0 0 10px;
    border: 2px solid rgb(224, 225, 227);
    background-color: rgb(236, 241, 246);
}
.selectionRadio{
    margin-inline-start: 30px;
}
.optIcon{
    font-size: 25px;
    margin-inline: 5px;
}
.selectionLabel2 {
    font-weight: 200;
    font-size: 12px;
}

input:focus{
    outline-width: 0;
}
.inputWord{
    position: relative;
    top : -57%;
    right : 20% ;
    font-size: 1rem;
}

.btnContainer{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.minusBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 19%;
    left: 5%;
    z-index: 1;
    background-color: rgb(5, 113, 222);
    color: white;
    height: 30px;
    width: 25px;
    border-radius: 10px;
}
.plusBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 19%;
    right: 5%;
    z-index: 1;
    background-color: rgb(5, 113, 222);
    color: white;
    height: 30px;
    width: 25px;
    border-radius: 10px;
}
.plusBtn:hover , .minusBtn:hover{
    cursor: pointer;
}

.inputField{
    text-align: center;

}
.inputField[type="number"]::-webkit-inner-spin-button,
.inputField[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

@media screen and (max-width: 768px) {
    .availabilityForm {
        width: 90vw;
    }

    .availabilityNumberInput,
    .availabilityNumberInput2 {
        width: 100%;
    }

    .availabilityMonthInput {
        width: 30%;
    }
}
